<div class="container">
    <h1 class="mat-elevation-z8">Deseja entrar em contato?</h1>

    <div class="links">

        <div class="informacoes">
            <i class="material-icons">badge</i>
            <h2>LinkedIn</h2>
            <p>Deseja me conhecer ou conhecer meu trabalho?</p>
            <a href="http://linkedin.com/in/la%C3%ADsa-albuquerque-777406271" target="_blank">http://linkedin.com/in/la%C3%ADsa-albuquerque-777406271</a>
        </div>
    
        <div class="informacoes">
            <i class="material-icons">code</i>
            <h2>GitHub</h2>
            <p>Deseja ver meus projetos?</p>
    
            <a href="https://github.com/LaisaAlb" target="_blank">https://github.com/LaisaAlb</a>
        </div>
    
        
        <div class="informacoes">
            <i class="material-icons">mail</i>
            <h2>Email</h2>
            <p>Tem alguma dúvida?</p>
    
            <a href="laisaa275@gmail.com" target="_blank">laisaa275gmail.com</a>
        </div>
    </div>
</div>