.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #FF66C4;
    background-color: #000D45;
    padding: 1rem 5%;
    font-weight: 900;
    width: 100%;
    text-align: center;
    height: 40px;
}