.container{
    width: 45%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
}

.full-width{
    width: 100%;
}

form{
    margin-top: 1rem;
}

h1 {
    margin: 1rem;
    margin-bottom: 10px;
    background-color: #000D45;
    color: white;
    width: 100%;
    max-width: 300px; 
    border-radius: 0.5rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.status-prioridade{
    display: flex;
    justify-content: space-between;
}

.status-prioridade mat-form-field{
    width: 49%;
}

.observacoes{
    min-height: 6rem;
    max-height: 10rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem; 
}

button {
    margin: 0; 
    width: 100px;
}