<div class="container mat-elevation-z8">
    <form class="form">
      <h1>Cadastrar Cliente</h1>
  
      <section class="section">
        <mat-checkbox
          [(ngModel)]="cliente.perfis[0]"
          name="admin"
          class="margin"
          color="primary"
          >Admin</mat-checkbox
        >
        <mat-checkbox
          [(ngModel)]="cliente.perfis[1]"
          name="cliente"
          color="primary"
          >Tecnico</mat-checkbox
        >
        <mat-checkbox
          [(ngModel)]="cliente.perfis[2]"
          name="cliente"
          color="primary"
          >Cliente</mat-checkbox
        >
      </section>
  
      <mat-form-field class="fullWidth" appearance="legacy">
        <mat-label>Nome</mat-label>
        <input
          [(ngModel)]="cliente.nome"
          name="nome"
          [formControl]="nome"
          required
          matInput
          appearance="outline"
          placeholder="Ex.. fulano de tal"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
  
      <mat-form-field class="fullWidth" appearance="legacy">
        <mat-label>CPF</mat-label>
        <input
          [(ngModel)]="cliente.cpf"
          name="cpf"
          [formControl]="cpf"
          required
          matInput
          appearance="outline"
          appearance="outline"
          placeholder="Ex..000.000.000-00"
          mask="000.000.000-00"
        />
        <mat-icon matSuffix>pin</mat-icon>
      </mat-form-field>
  
      <mat-form-field class="fullWidth" appearance="legacy">
        <mat-label>E-mail</mat-label>
        <input
          [(ngModel)]="cliente.email"
          name="email"
          [formControl]="email"
          required
          matInput
          appearance="outline"
          placeholder="Ex.. fulano@mail.com"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
  
      <mat-form-field class="fullWidth" appearance="legacy">
        <mat-label>Senha</mat-label>
        <input
          [(ngModel)]="cliente.senha"
          name="senha"
          [formControl]="senha"
          required
          type="password"
          matInput
          appearance="outline"
          placeholder="Ex.. 1234"
        />
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>
  
      <div class="btn">
        <button
          (click)="create()"
          [disabled]="!validaCampos()"
          class="add mat-elevation-z2"
          mat-flat-button
          appearance="outline"
          color="primary"
        >
          Cadastrar
        </button>
        <button
          class="cancel mat-elevation-z2"
          mat-stroked-button
          color="warn"
          routerLink="../"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
  